body {
	padding: 0;
	margin: 0;
	display: flex;
	box-sizing: border-box;
	color: #eee;
	font-family: sans-serif;
}

.sidebar {
	height: 100vh;
	background-color: #222;
	text-align: center;
	font-size: 1.2rem;
}

.sidebar ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 6rem;
}

.sidebar li {
	margin-top: 2rem;
}

.sidebar button {
	border: none;
	background: #222;
	cursor: pointer;
	color: #eee;
	font-size: 2.5rem;

}

.sidebar button:hover {
	color: #c44;
}

/*Color Selector*/
.sidebar li:first-of-type input {
	padding: 0;
	border: none;
	height: 3rem;
	width: 3rem;
	cursor: pointer;
}

#strokeWeight {
    -webkit-appearance: slider-vertical;
	margin: .5rem auto;
	width: .5rem;
}

.sidebar li:nth-child(3) {
    margin-top: auto;

}

.sidebar li:last-of-type {
    margin-bottom: 2rem;
}

input {
	margin-top: .3rem;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  background: #eee;
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	border: none;
	height: 2rem;
	width: 1rem;
	background: #ccf;
	cursor: pointer;
	opacity: 1;
}